*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8f3dc;
    }

header{
    background-color: #d9ed92;
    width: 100%;
    height: 50px;
    padding: 10px
    }
header #brand-name{
    color: #184e77;
    font-size: 23px;
    font-family: Algerian;
    margin-left: 20px;
}
header #navbar{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
header #navbar ul{
    margin-top: -30px;
    display: flex;
    float:right;
    margin-right: 20px;
    gap: 2em;
}
header #navbar ul li{
    list-style-type: none;
}
    header #navbar ul li:hover{
        background-color:blue;
    }
    .home_page {
        margin: 30px 30px;
        justify-content: center;
    }
.home_page #imgh{
    margin: 5px;
    float: right;
    align-items: flex-end;
    width: 90%;
    height: 400px;
}
#home{
    display: flex;
}
#home_content{
    text-align: start;
}
    #home_content h3 {
        font-size: 40px;
        color: #184e77;
    }
#home_content h1{
    font-size: 50px;
    margin-top: 15px
}
#home_content p{
    font-size: 20px;
    margin-top: 10px;
}
    #home_content button {
        width: 150px;
        margin-top: 10px;
        padding: 10px;
        background-color: #184e77;
        border: 1px solid bisque;
        border-radius: 5px;
        font-size: 20px;
        color:#d9ed92
    }
   #home_content button:hover {
            background-color: blue;
            cursor: pointer;
            border-radius:20px;
       }
.about_us {
     margin: 80px 30px 20px;
 }
    .about_us h1 {
        font-size: 40px;
        color: #184e77;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight:900;
        text-align:center;
    }
    .about_us p {
        line-height: 1.2em;
        margin-top: 10px;
        justify-content: center;
        font-size: 18px;
        font-family: sans-serif;

       }
    .about_us button {
        width: 200px;
        padding: 15px;
        margin-top: 10px;
        border: 1px solid bisque;
        border-radius: 5px;
        font-size: 20px;
        color: #d9ed92;
        background-color: #184e77;
    }
     .about_us button:hover {
            background-color: blue;
            cursor: pointer;
            border-radius: 20px;
        }
     .services{
         margin: 50px 30px 10px;
         font-weight:700;
     }
     .services h1{
    font-size: 40px;
    color: #184e77;
    font-family:sans-serif;
    font-weight: 900;
    text-align: center;
    }
     .services p{
         font-size:18px;
         margin-top: 15px;
         line-height: 1.2em;
         font-weight:300;
         justify-content: center;
     }
.cards{
         display:grid;
         grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
         grid-gap:2em;
     }
     .cards #card_display{
         text-align: center;
         margin: 20px 30px;
         width: 400px;
         height: 400px;
         background-color: #103835;
         color:#fff;
         border-radius: 10px;
     }
     .cards #imgd{
         width: 400px;
         height: 200px;
         border-radius: 10px
     }
     #card_display h2{
         text-align:center;
         color:#d8f3dc;
         margin-top: 10px;
         font-size: 30px
     }
.cards button {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid bisque;
    border-radius: 5px;
    font-size: 20px;
    color: #d9ed92;
    background-color: #184e77;
}
    .cards button:hover {
        background-color: blue;
        cursor: pointer;
        border-radius: 20px;
    }
    footer{
        margin-top: 50px;
        background-color:#103835;
        color:#fff;
        text-align:center;
    }
    
    .footer h1{
        padding: 20px 10px 10px;
        font-size: 30px;
        font-family: Algerian;
        color: #d8f3dc;
    }
    footer p{
        line-height:1.5em;
        font-family:'Times New Roman';
        margin-top: 5px;
    }
.contact h1 {
    font-size:25px;
    color: #d8f3dc;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
}
.login{
    text-align: center;
    line-height: 1.5em;
}